body{
    background-color: rgb(199, 179, 20);
}
#container{
    height: 700px;
    width: 450px;
    background-color: white;
    margin-left: 350px;
    border-radius: 30px;
    padding: 5px;
}

.menu{
    height: 100px;
    width: 100px;
    background-color: rgb(227, 106, 106);
    border-radius: 100px;

}
.menu2{
    height: 100px;
    width: 100px;
    background-color: rgb(76, 83, 211);
    border-radius: 100px;
    margin-left: 50px;

}
h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(125, 112, 112);
    margin-left: 100px;
}